html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
}
h1 {
  margin: 0 0 20px;
  font-weight: 400;
  color: #d11281;
  text-align: center;
}
p {
  margin: 0 0 5px;
}
.main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1fbb7a;
}
form {
  max-width: 30rem;
  padding: 25px;
  margin: 25px;
  box-shadow: 0 2px 5px #f5f5f5;
  background: #f5f5f5;
  border-radius: 5px;
}

input,
textarea {
  width: calc(100% - 18px);
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #df20b5;
  outline: none;
  border-radius: 5px;
}
input::placeholder {
  color: #666;
}
button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #be1193;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
button:hover {
  background: #46283d;
}
@media (min-width: 568px) {
  .main-block {
    flex-direction: row;
  }
}
